[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
google-api-python-client = "*"
httplib2 = "*"
apiclient = "*"
oauth2client = "*"
discovery = "*"
tools = "*"
pydrive = "*"
sentry-sdk = "*"
flask-mail = "*"

[dev-packages]

[requires]
python_version = "3.9"
